body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: inline-block;
    margin: auto;
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.5);
    overflow: hidden;
}

.navDisplay {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 25px;
    display: grid;
    grid-template-columns: auto auto;
}

.navDisplay p {
    margin: 0;
}

.bombDisplay {
    float: left;
}

.timeDisplay {
    float: right;
}

.playingField {
    display: inline-grid;
    background-color: lightgray;
    gap: 3px;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
}

.field p {
    margin: 0;
}

.field:hover {
    background-color: rgb(230, 230, 230);
}

.fieldContent {
    font-weight: bolder;
}

#p_01 {
    color: blue;
}

#p_02 {
    color: green;
}

#p_03 {
    color: red;
}

#p_04 {
    color: navy;
}

#p_05 {
    color: brown;
}

#p_06 {
    color: teal;
}

#p_07 {
    color: black;
}

#p_08 {
    color: gray;
}

.popupContainer {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.360);
}

.popup {
    --popup-width: 300;
    --popup-height: 136;
    display: wrap;
    position: absolute;
    top: calc(25% - 83px);
    left: calc(50% - 165px);
    padding: 15px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    height: var(--popup-height);
    width: var(--popup-width);
}

.popup h2 {
    display: none;
}

.difficultyLevel {
    margin: 20px;
}

#difficultyLevel {
    width: 90px;
    height: 35px;
    text-align: center;
    font-size: 14px;
}

.startGame {
    width: 300px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
}